@import url("animations.css");
@import url("feed.css");
@import url("row_container.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: 'MontserratBold';
  font-weight: 800;
}

.artist, .track {
  display: flex;
  align-items: center;
  flex: 3;
}

.ranking {
  flex: 14px 0 0;
  text-align: right;
  margin-left: 12px;
  margin-right: 20px;
  font-weight: bold;
  color: #9c89b8;
  font-size: 1.1em;
}

.artist-image-container, .album-image-container {
  width: 55px;
  height: 70px;
  margin-right: 8px;
}

.artist-image, .album-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.artist-text, .track-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 10px;
}

.artist-name, .track-name {
  float: left;
  /*width: 37%;*/

  color: #59457a;
  font-family: 'MontserratBold', sans-serif;
  font-weight: 800;

  margin-bottom: auto;
  font-size: 1.3em;
}

.artist-genres, .track-artist {
  color: #9c89b8;
  text-align: left;
  font-size: 0.95em;
  text-transform: capitalize;

  margin-bottom: auto;
}

.track-artist { /* increased font size since there's only one artist */
  font-size: 1.2em;
}

.time { /* TODO: monospaced font */
  font-size: 1.2em;
  color: #9C89B8;
  padding-right: 10px;
}


/*
@media (min-width: 769px) {
  .artist {
    padding: 1em 1.5em;
    margin: 0 -1.8em;
  }
  .artist-name {
    font-weight: 500;
  }
}
*/

/*
  .ranking {
    flex: 35px 0 0;
    min-width: 35px;
    margin-right: 0;
    text-align: right;
    padding-right: 23px; } }
*/
