@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #878487;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  outline: 0 !important;
}

a {
  text-decoration: none !important;
}

li {
  list-style-type: none !important;
}

.logo {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 30px;
  left: 0.8em
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

#intro {
  position: relative;
  overflow: hidden;
  padding-top: 8em;
  margin-left: 30px;
}

#intro .top-right-gradient {
  position: absolute;
  top: -40%;
  right: -25%;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background: linear-gradient(#e2d8f2, #af99cf);
}

#intro .intro-left {
  display: inline-block;
  width: 40%;
}

#intro .intro-left p {
  font-size: 2.5em;
  color: #575a89;
  line-height: 1.5em;
  position: relative;
  margin-bottom: 1em;

  border-right: 4px solid;
  animation: blink 1s infinite;
  padding-right: 8px;
  display: inline;
  animation-delay: 4s;
  font-weight: bold;
}
/*
#intro .intro-left p:after {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 40px;
  height: 4px;
  content: "";
  border-radius: 5px;
  background: #9c89b8;
  opacity: 0.4;
}
*/
@keyframes blink {
  50% {
    border-right: none;
  }
}

#intro .intro-left h2 {
  font-size: 1.125em;
  line-height: 1.75em;
  font-weight: normal;
  font-style: italic;
}

.temp {
  margin-top: 15px;
}

#intro .intro-left a.intro-cta {
  font-weight: 500;
  display: block;
  width: 100%;
  max-width: 180px;
  margin-top: 2em;
  padding: 1em;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background: #1dd05d;
}

#intro .intro-right {
  position: relative;
  display: inline-block;
  padding-top: 80px;
}

#intro .intro-right img {
  margin-left: 12vw;
  max-width: 400px;
}

@media (min-width: 320px) and (max-width: 900px) {
  .wrapper {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
  }

  .logo {
    display: absolute;
    left: 0;
  }

  img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #intro {
    margin: 10px;
  }

  #typewriter {
    position: absolute !important;
    left: -9999em;
    top: -9999em;
  }

  .mobile-wrapper {
    width: 100vw;
    display: block;
  }

  #intro .intro-left {
    width: 100vw;
    display: block;

    margin-top: 20vh;
  }

  #intro {
    max-height: 300px !important;
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 40px !important;
  }

  #intro .top-right-gradient {
    height: 0px;
    width: 0px;
    visibility: hidden;
  }

  #intro .intro-right img {
    visibility: hidden;
  }

  #intro p {
    font-size: 24px !important;
  }

  #intro .intro-left .intro-cta {
    display: block;
    margin: 0;
    margin-top: 3em;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
